---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/global.css';
import PostHog from '../components/posthog.astro'

interface Props {
  title?: string;
  description?: string;
  page?: string;
}

// Ensure we have a proper canonical URL with https://
const { title, page = "Blog", description = SITE_DESCRIPTION } = Astro.props;
// Format pathname correctly by removing trailing slash if not homepage
const pathname = Astro.url.pathname === '/' ? '/' : Astro.url.pathname.replace(/\/$/, '');
const canonicalURL = new URL(pathname, Astro.site);
const renderedTitle = title ? `${title} - ${SITE_TITLE}` : SITE_TITLE;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
  
    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL.toString()} />
  
    <!-- Primary Meta Tags -->
    <title>{renderedTitle}</title>
    <meta name="title" content={renderedTitle} />
    {description && <meta name="description" content={description} />}
    <meta name="author" content="Matthew Brown" />
    <meta name="robots" content="index, follow" />
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title={SITE_TITLE} />
  
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL.toString()} />
    <meta property="og:title" content={renderedTitle} />
    {description && <meta property="og:description" content={description} />}
  
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL.toString()} />
    <meta property="twitter:title" content={renderedTitle} />
    {description && <meta property="twitter:description" content={description} />}
    
    <!-- Allow pages to add additional head elements -->
    <slot name="head" />

    <!-- Google Analytics -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-27X11PSQ9J"
    ></script>

    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-27X11PSQ9J");
    </script>

    <PostHog />
  </head>

  <body>
    <div class="container">
      <header>
        <a href="/" style={{ color: 'inherit' }}>
          <h1 style={{ display: 'inline-block' }}>
            Matthew Brown<span style={{ opacity: 0.2 }}>&apos;s {page}</span>
          </h1>
        </a>
        <div class="social-icons hide-print">
          <a href="https://twitter.com/mnbbrown" target="_blank">
            <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/twitter"
              ><path
                fill="currentColor"
                d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
              ></path></svg
            >
          </a>
          <a href="https://github.com/mnbbrown" target="_blank">
            <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
              ><path
                fill="currentColor"
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
              ></path></svg
            >
          </a>
          <a href="/feed.xml">
<svg viewBox="0 0 24 24" data-astro-cid-5hce7sga="" astro-icon="mdi:rss"><path fill="currentColor" d="M6.18 15.64a2.18 2.18 0 0 1 2.18 2.18C8.36 19 7.38 20 6.18 20 5 20 4 19 4 17.82a2.18 2.18 0 0 1 2.18-2.18M4 4.44A15.56 15.56 0 0 1 19.56 20h-2.83A12.73 12.73 0 0 0 4 7.27V4.44m0 5.66a9.9 9.9 0 0 1 9.9 9.9h-2.83A7.07 7.07 0 0 0 4 12.93V10.1z"></path></svg>
          </a>
        </div>
      </header>
      <main>
        <slot />
      </main>
      <footer>
        <span>Copyright © Matthew Brown {new Date().getFullYear()}</span>
      </footer>
    </div>
  </body>
</html>

<style>
.container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 1.75rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 1.1rem;
  
  @media print {
    margin-bottom: 2rem;
  }
}

header .social-icons {
  text-align: right;
  margin: 1.1rem 0px;
  line-height: 1.6;
  display: flex;
  
  @media print {
    display: none;
  }
}

footer {
  display: block;
  margin: 1rem;

  @media print {
    display: none;
  }
}

footer span {
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  display: block;
}

[astro-icon] {
  color: #000;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
</style>
